
<% name = current_user.present? ? current_user.email : 'Stranger' %>
<br>
<br>
<center>
  <div style="text-align:center;padding-top: 25px; width:700px;height:250px;border: 1px solid black;background:lightgrey;">
    
    <%= image_tag current_user.image, style: "width:100px" %><hr>
    <h1>Current User : <h6><%= name %> </h6> </h1>

  </div>
</center>